<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SEEKJOBS - THE EASIEST WAY TO GET YOUR NEW JOB</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mdb.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/datepicker.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/fonts/line-icons.css' %}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/slicknav.css' %}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/nivo-lightbox.css' %}">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/animate.css' %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/responsive.css' %}">
    <link href="{% static '/css/fontawesome/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/fontawesome/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            height: 300,
            statusbar: false,
            menubar: false,


        });
    </script>
</head>
<body>

<!-- Header Area wrapper Starts -->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar1 top-nav-collapse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span> <span class="icon-menu"></span> <span
                        class="icon-menu"></span> <span class="icon-menu"></span></button>
                <a href="{% url 'main:homepage' %}" class="navbar-brand"><img src="{% static '/img/logo.png' %}"
                                                                              alt="EWORK"></a></div>
          <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'main:homepage' %}"> Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'main:jobs' %}"> jobs </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'main:companies' %}"> companies </a></li>
                    {% if candidate %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:recommendations' %}">
                            recommendations </a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link nav-btn" href="{% url 'main:post-a-job' %}"><i class="fas fa-plus-circle"></i>
                            post a
                            job </a></li>
                    {% endif %}

                    {% if request.user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}"> <i class="fa fa-key"></i>register
                        </a>
                        </li>
                    {% endif %}
                    {% if not request.user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:dashboard' %}"> <i class="fa fa-user-tie"> </i>
                             dashboard </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:logout' %}"> <i class="fa fa-sign-out-alt"></i>
                            Logout </a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}"> <i class="fa fa-sign-in-alt"></i> Login
                        </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
            <li><a class="page-scrool" href="#header-wrap">Home</a></li>
            <li><a class="page-scrool" href="#">Jobs</a></li>
            <li><a class="page-scroll" href="#">Companies</a></li>
            <li><a class="page-scroll" href="#">CV Models</a></li>
            <li><a class="page-scroll" href="#">Post A Job</a></li>
            <li><a class="page-scroll" href="#">Login</a></li>
            <li><a class="page-scroll" href="/register">register</a></li>
        </ul>
        <!-- Mobile Menu End -->

    </nav>
<section>
 <div class="row" style="padding-top: 200px;">

 </div>
</section>
</header>

<section class="container">
    <form action='complete-company' method="post" enctype="multipart/form-data" class="form   justify-content-center">
        {% csrf_token %}
        <!-- Default form group -->

        <!-- Default input -->
        <div class="form-group w-100">
            <h2 class="text-light">Company Details</h2>
            <label for="name">Company name </label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Company name">
        </div>
        <div class="row">
            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">Website</label>
                <input type="text" class="form-control" name="website" placeholder="website(optional)">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">Tagline</label>
                <input type="text" class="form-control" name="tagline"
                       placeholder="Briefly describe your Company (optional)">
            </div>
            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">LinkedIn</label>
                <input type="text" class="form-control" name="linkedin" placeholder="LinkedIn(optional)">
            </div>
        </div>
        <div class="form-group w-100 ">

            <label for="name">Company Logo </label>
            <input type="file" accept="image/*" class="form-control" id="formGroupExampleInput" name="logo"
                   placeholder="Company Logo">
            <small class="text-light">maximum size 10MB</small>
        </div>
        <div class="form-group w-100">
            <label for="Description"> Description(optional)</label>
            <textarea id="mytextarea" class="form-control" name="description"> </textarea>
        </div>
        <!-- Grid column -->
        <div class="row">
            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email(optional)">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">Phone</label>
                <input type="text" class="form-control" name="phone"
                       placeholder="Phone(optional)">
            </div>
            <!-- Grid column -->

        </div>
        <div class="row">
            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="location" class="text-dark">Location</label>
                <input type="text" class="form-control" name="location" placeholder="Location(optional)">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col">
                <!-- Default input -->
                <label for="name " class="text-dark">Since</label>
                <input type="text" class="form-control" name="since" placeholder="established date/year(optional)">
            </div>
            <div class="col-md-12">


                <button class="btn btn-common btn-rounded float-md-none  " type="submit">Submit</button>
            </div>
        </div>

    </form>
    <!-- Default form group --></section>


<!-- Footer Section Start -->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Companies</a></li>
                    <li><a href="#">CV Models</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                <h3>RECENT POSTS</h3>
                <ul class="image-list">
                    <li>
                        <figure class="overlay"><img class="img-fluid" src="{% static '/img/art/a1.jpg' %}" alt="">
                        </figure>
                        <div class="post-content">
                            <h6 class="post-title"><a href="blog-single.html">Lorem ipsm dolor sumit.</a></h6>
                            <div class="meta"><span class="date">October 12, 2018</span></div>
                        </div>
                    </li>
                    <li>
                        <figure class="overlay"><img class="img-fluid" src="{% static '/img/art/a2.jpg' %}" alt="">
                        </figure>
                        <div class="post-content">
                            <h6 class="post-title"><a href="blog-single.html">Lorem ipsm dolor sumit.</a></h6>
                            <div class="meta"><span class="date">October 12, 2018</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                <h3>SUBSCRIBE US</h3>
                <div class="widget">
                    <div class="newsletter-wrapper">
                        <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                            {% csrf_token %}
                            <div class="form-group is-empty">
                                <input type="email" value="" name="Email" class="form-control" id="EMAIL"
                                       placeholder="Your email" required="">
                                <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i
                                        class="lni-pointer"></i></button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.widget -->
                <div class="widget">
                    <h5 class="widget-title">FOLLOW US ON</h5>
                    <ul class="footer-social">
                        <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                        <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-info">
                    <p>© Designed and Developed by <a href="#" rel="nofollow">SEEKJOBS</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Go to Top Link -->
<a href="#" class="back-to-top"> <i class="lni-chevron-up"></i> </a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/js/jquery-migrate-3.0.1.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<script src="{% static '/js/jquery.easing.min.js' %}"></script>
<script src="{% static '/js/wow.js' %}"></script>

<script src="{% static '/js/nivo-lightbox.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>

<script src="{% static '/js/form-validator.min.js' %}"></script>
<script src="{% static '/js/contact-form-script.min.js' %}"></script>
<script src="{% static '/js/signin.js' %}"></script>
</body>
</html>
